.logindivstyle{
    
    margin-top: -60px !important;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 9px !important;
    padding-right: 12px !important;
    padding-bottom: 20px !important;
    
   // box-shadow: 0px 3px 15px #dbd7d7;
    // margin-top: -15px !important;
   // border: 1px solid #dbd7d7;
  
}
.lblcolor{
    --color: #94a9bd;
  padding-bottom: 15px;
  width: 50%;

}
.buttStyle{
    
    margin-top: -50px;
    margin-bottom: 3px;
  padding: 0px !important;
  text-align: center;
    height: 32px;
    width: 50%;

}