<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"> </ion-back-button>
    <ion-title>Basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let i of basketArray">
  <ion-text color="primary">
    <h2 class="headerStyle">Your Products:</h2>
  </ion-text>
  <div class="divProductsStyle">

    <ion-row>
      <ion-col>
        {{i.ProductName}}
      </ion-col>
      <ion-col>
        {{i.price}}
      </ion-col>
    </ion-row>

  </div>
  <br />

  <ion-text color="primary">
    <h2 class="headerStyle">Payment summary:</h2>
  </ion-text>
  <div class="divPaymentStyle">

    <ion-row>
      <ion-col>
        Basket total
      </ion-col>
      <ion-col>
        414.98 OMR
      </ion-col>
    </ion-row>

  </div>
  
  <br/>

  <div class="divServiceStyle">

  <ion-row>
    <ion-col size="8" class="headerServiceChargeStyle">
     <b>Service Charge:</b> 
    </ion-col>
    <ion-col size="4" class="serviceChargeStyle">
      2000 OMR
    </ion-col>
  </ion-row>
</div>

<br/>
<div class="divServiceStyle">

  <ion-row>
    <ion-col size="8" class="headerServiceChargeStyle">
     <b>Total amount:</b> 
    </ion-col>
    <ion-col size="4" class="serviceChargeStyle">
      2300 OMR
    </ion-col>
  </ion-row>
</div>

<br/>
<br/>
<div class="buttDivStyle">
  <ion-button color="primary" class="CancelbuttStyle" fill="outline"> Add more </ion-button>
  <ion-button color="light" class="CancelbuttStyle" (click)="addEvents()"> Checkout </ion-button>
</div>

</ion-content>