<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"> </ion-back-button>
    <ion-title>Basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h2 class="headerStyle">Your Products:</h2>
  </ion-text>
  <div class="divProductsStyle">

    <!-- old -->
    <ion-row *ngFor="let i of basketArray">
      <ion-col class="fontsize">
        {{i.ProductName}}
      </ion-col>

      <ion-col class="fontsize">
        <!-- <ion-icon name="basket" class="basketicon"></ion-icon> -->
        <ion-icon name="layers" class="qtyStyle"></ion-icon>
        {{i.qty}}
      </ion-col>

      <ion-col class="fontsize" >
        <ion-icon name="card" class="priceStyle"></ion-icon>
        {{i.price*i.qty}}
      </ion-col>

      <ion-col>
        <ion-icon  name="trash" class="trashicon"  (click)="deleteProductAlert(i)"></ion-icon>
      </ion-col>
    </ion-row>






  </div>
 

  <ion-text color="primary">
    <h2 class="headerStyle">Payment summary:</h2>
  </ion-text>
  <div class="divPaymentStyle">

    <ion-row>
      <ion-col class="fontsize">
        Basket total
      </ion-col>
      <ion-col>
        {{totalPrice}} OMR
      </ion-col>
    </ion-row>

  </div>

  <br />

  <div class="divServiceStyle">

    <ion-row>
      <ion-col size="8" class="headerServiceChargeStyle">
        <b>Service Charge:</b>
      </ion-col>
      <ion-col size="4" class="serviceChargeStyle">
        2 OMR
      </ion-col>
    </ion-row>
  </div>

  <br />
  <div class="divServiceStyle">

    <ion-row>
      <ion-col size="8" class="headerServiceChargeStyle">
        <b>Total amount:</b>
      </ion-col>
      <!-- [(ngModel)]="finaltotal" -->
      <ion-col size="4" class="serviceChargeStyle">
        <!-- 2300 OMR -->
        {{finaltotal}} OMR
      </ion-col>
    </ion-row>
  </div>

  <br />
  <br />
  <div class="buttDivStyle">

    <ion-button color="primary" class="CancelbuttStyle" fill="outline" [routerLink]="['/customer-tab/shop']"> Add more
    </ion-button>
    <!-- [routerLink]="['/checkout']" -->
    <ion-button color="light" class="CancelbuttStyle"  (click)="checkout()"> Checkout </ion-button>
  </div>

</ion-content>