<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
    <ion-title>Add Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainSivStyle" align="center">
    <div class="divimageStyle">
      <img [src]="base64Img" class="imageStyle" (click)="selectEventsImage()">
    </div>
    <div class="inputDivStyle">
      <ion-list>
        <ion-item>
          <ion-label class="lblcolor" position="floating">Title</ion-label>
          <ion-input type="text" [(ngModel)]="eventsObj.Title"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-row >
            <ion-col size="6" >
              <ion-label class="iconstyle"> <ion-icon name="time" slot="end"></ion-icon></ion-label>  
              <ion-datetime [(ngModel)]="eventsObj.Time" display-format="hh:mm A"  class="timestyle">
              </ion-datetime>
            </ion-col>
            <ion-col size="6">
              <ion-label> <ion-icon name="calendar" slot="end"></ion-icon></ion-label>  
              <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" class="timestyle"></ion-datetime>
            </ion-col>
          </ion-row>
          

        </ion-item>
        <ion-item>
          <ion-label class="lblcolor" position="floating">Place</ion-label>
          <ion-input type="text" [(ngModel)]="eventsObj.place" color="primary"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="lblcolor" position="floating">Price</ion-label>
          <ion-input type="text" [(ngModel)]="eventsObj.price" color="primary"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="lblcolor" position="floating">NO of people Allow</ion-label>
          <ion-input type="number" [(ngModel)]="eventsObj.people" color="primary"> </ion-input>
        </ion-item>
      </ion-list>
    </div>
    <br />
    <br />
    <div class="buttDivStyle">
      <ion-button color="primary" class="CancelbuttStyle" [routerLink]="['/admin-view-event']"> Cancel </ion-button>
      <ion-button color="primary" class="CancelbuttStyle" (click)="addEvents()"> ADD </ion-button>
    </div>
  </div>
</ion-content>