.backiconstyle{
    color:white;
}
.constyle{
    --background:none;
    background-color: rgb(241, 237, 237);
}
.mainDivStyle{
    box-shadow: 3px 5px 15px #dbd7d7;
    height: 650px ;
    width: 340px;
    margin: 10px !important;
    border-radius: 10px;
    padding-top: 25px;  
    background-color: white; 
}
.inputDivStyle{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.imageStyle{
    height: 100%;
    width: 100%;
}
.divimageStyle{
    height: 110px;
    width: 110px;
}
.CancelbuttStyle{
    width: 65%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}
  .iconcolor{
    color: #357abe;
    width: 25px;
    height: 25px;
}
.datatimestyle{
    color: #357abe;
    padding-left:0px !important ;
}