<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
        <ion-title>Add Event</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="constyle">
    <div class="mainDivStyle" align="center">
        <div class="divimageStyle">
            <img [src]="base64Img" class="imageStyle" (click)="selectEventsImage()">
        </div>
        <br />
        <div class="inputDivStyle">
            <ion-list>
                <ion-item>
                    <ion-icon name="pencil" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="text" color="primary"  maxlength="20" [(ngModel)]="eventsObj.title" placeholder="Title">
                    </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="calendar" class="iconcolor" slot="start"></ion-icon>
                    <ion-datetime color="primary" displayFormat="D MMM YYYY " [min]="minDate" value="D MMM YYYY"
                        placeholder="Select Date" [(ngModel)]="eventsObj.date" class="datatimestyle">
                    </ion-datetime>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="time" class="iconcolor" slot="start"></ion-icon>
                    <ion-datetime color="primary" displayFormat=" H:mm A" value="H:mm A" placeholder="Select Time"
                        [(ngModel)]="eventsObj.timer" class="datatimestyle">
                    </ion-datetime>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="location" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="text" color="primary" [(ngModel)]="eventsObj.place" placeholder="Place">
                    </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="pricetag" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="number" color="primary" [(ngModel)]="eventsObj.price" placeholder="Price">
                    </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="people" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="number"  color="primary" [(ngModel)]="eventsObj.people"
                        placeholder="No of people can attend"> </ion-input>
                </ion-item>
            </ion-list>
        </div>
        <ion-button color="primary" class="CancelbuttStyle" (click)="addEvents()"> ADD </ion-button>
    </div>
</ion-content>