<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="ellipsis-vertical" class="iconstyle" slot="end" (click)="CreatePopOver($event)"></ion-icon>
        <ion-title>Dietitian</ion-title>
    </ion-toolbar>
    <ion-toolbar lines="none">
        <ion-searchbar class="searchstyle" [(ngModel)]="searchtxt" (ngModelChange)="startSearch()">
        </ion-searchbar>
        <ion-fab vertical="Top" horizontal="end" slot="start">
            <ion-icon [name]="isRecording?'mic':'mic-off'" class="micicon" (click)="startStopListening()">
            </ion-icon>
        </ion-fab>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- no details-->
    <ion-card color="light" *ngIf="tempArray.length==0">
        <ion-card-content color="primary">
            No dietitians added yet. please click on 'Add Dietitian' tab to add one.
        </ion-card-content>
        <!-- card with details-->
    </ion-card>
    <ion-list *ngIf="tempArray.length>0">
        <ion-item-sliding *ngFor="let i of tempArray">
            <ion-card class="dietitiancarstyle">
                <ion-row>
                    <ion-col size="4">
                        <ion-card class="cardimgstyle" align="center">
                            <div align="center">
                                <img [src]=i.img />
                            </div>
                        </ion-card>
                    </ion-col>
                    <ion-col size="8">
                        <ion-card-content>
                            <ion-row>
                                <ion-col>
                                    <ion-icon name="person" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col class="colstyle">
                                    <p>{{i.name}}</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-icon name="call" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col class="colstyle">
                                    <p>{{i.phone}}</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-icon name="mail" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col  class="emailstyle">
                                    <div class="emaildivStyle">
                                        <p class="ion-text-wrap">{{i.email}}</p>
                                    </div>
                                </ion-col>

                                <!-- <ion-col class="colstyle">
                                    <p class="mailcolstyle">{{i.email}}</p>
                                </ion-col> -->
                            </ion-row>


                            <ion-row>

                                <ion-col>
                                    <ion-icon name="newspaper" class="iconcolor"></ion-icon>
                                </ion-col>

                                <ion-col  class="descstyle">
                                    <div class="desdivStyle">
                                        <p class="ion-text-wrap" >{{i.descripion}}</p>
                                    </div>
                                </ion-col>

                            </ion-row>

                        </ion-card-content>
                    </ion-col>
                </ion-row>
                <div class="divstyle">
                    <ion-col class="updateiconcolorstyle">
                        <ion-icon name="create" (click)="updateDietitianAlert(i)"></ion-icon>
                    </ion-col>
                    <ion-col class="deleteiconcolorstyle">
                        <ion-icon name="trash" (click)="deleteDietitianAlert(i)"></ion-icon>
                    </ion-col>
                </div>
            </ion-card>
        </ion-item-sliding>
    </ion-list>
</ion-content>