.recordbutton{
    --background:none;
    width: 40px;
    height: 40px; 
    padding:7px;
    margin-right: 0px !important;
    margin-bottom:10px ;
    margin-top: 7px;
    margin-left: 5px !important;  
}
.iconstyle{
    color: black;
    font-size:medium;
}
.cardimgstyle{
    width: 70px;
    height: 70px;
}
.dietitiancarstyle{
    border-radius: 10px;
     box-shadow: 0px 3px 15px #dbd7d7;
}
