
.cardimgstyle{
    width: 103px;
     height: 103px;
     border-radius: 10px;
    padding: 0px !important;
    text-align: center;
    margin-top: 20%;
    box-shadow: 3px 3px 15px #dbd7d7;
}
.imgstyle{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0px !important;
    text-align: center;
}
.dietitiancarstyle{
     border-radius: 10px;
     box-shadow: 3px 3px 15px #dbd7d7;
     height: 210px;
     width: 340px;   
}
.desdivStyle{
    height: 45px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}
.descstyle{
    padding-left: 30px !important;
}

.iconcolor{
    color: #357abe;
    width: 18px;
    height: 18px;
}
.deleteiconcolorstyle{
    color: #BDBDBD;
    width: 20px;
    height: 20px;
    font-size: 25px;
    margin-top: 5px !important;
    margin-right: 10px;
    margin-left: 12px !important;
    padding: 0px !important ;
}
.updateiconcolorstyle{
    color: #BDBDBD;
    width: 15px;
    height: 15px;
    font-size: 25px;
    margin-top: 5px !important;
   margin-right: 0px !important;
   padding: 0px !important ;
}
.colstyle{
    margin-left: -120px !important;
    font-size: 16px;
    height: 20px;
}
.divstyle{
    text-align:right;
    font-size: 30px;
}
.iconstyle{
    color: #ffffff;
    width: 20px;
    height: 20px;
    padding-right: 16px !important;
}
.searchstyle{
    margin: 3px;
    padding: 1px;
    width: 83%;
    height: 40px;
}
.recordbutton{
    --background:none;
    width: 50px;
    height: 50px; 
    padding:7px;
    margin-right: 0px !important;
    margin-bottom:10px ;
    margin-top: 7px;
    margin-left: 5px !important;
}