.recordbutton{
    --background:none;
    width: 40px;
    height: 40px; 
    padding:7px;
    margin-right: 0px !important;
    margin-bottom:10px ;
    margin-top: 7px;
    margin-left: 5px !important;  
}

.cardimgstyle{
    width: 100px;
     height: 100px;
}
.imgstyle{
    width: 70px;
     height: 70px;
}
.dietitiancarstyle{
    border-radius: 10px;
     box-shadow: 0px 3px 15px #dbd7d7;
     
}

.iconcolor{
    color: #357abe;
    font-size:17px ;
}
.iconcolorstyle{
    color: #e2e2e2;
}
.colstyle{
    margin-left: -120px !important;
}
.divstyle{
    text-align:right;
    font-size: 30px;
}
