<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"> </ion-back-button>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" class="div">
    <img class="imgestyle" src="../../../../assets/icon/map3.jpg" />
    <ion-button   fill="outline" class="SelectLocationbut" [routerLink]="['/address']"> Select Location </ion-button>
  </div>

  <ion-text color="primary">
    <h2 class="headerStyle">Payment summary:</h2>
  </ion-text>

  <div class="divPaymentStyle" *ngFor="let i of  totalArray  ">

    <ion-row>
      <ion-col>
        Total amount
      </ion-col>
      <ion-col>
        {{i}}
      </ion-col>
    </ion-row>

  </div>

  <ion-button  color="secondary" class="orderbut">Order</ion-button>
</ion-content>
