.backiconstyle{
    color:white;
}
.ordiv{
    border-top: 2px solid grey;
    text-align: center;
}
.ordiv p{
margin-top: -12px;
}
.ordiv span{
    background-color: white;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.buttStyle{
    width:210px ;
    height:42px ;
    font-weight: bolder;
    vertical-align: middle;
    margin-left: 78px !important;
    margin-right: 60px !important;
    margin-top: -27px !important;
    background-color: #F0F0F0;
}
.bntdiv{
    position: absolute;
    margin: auto;
}
.iconcolor{
    color: #357abe;
    width: 25px;
    height: 25px;
}
.inputDivStyle{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.imgmapstyle{
    width: 368px;
    height: 174px;
}
.okbuttStyle{
    width:160px ;
    height:42px ;
    margin-left: 70px !important;
    margin-right: 60px !important;
}