<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainDivStyle" align="center">
    <div class="divimageStyle">
      <img [src]="base64Img" class="imageStyle" (click)="selectProductImage()">
    </div>
    <br/>
    <div class="inputDivStyle">
      <ion-list>
        <ion-item>
          <ion-icon name="pencil" class="iconcolor" slot="start"></ion-icon>
          
          <ion-input type="text" [(ngModel)]="productsObj.ProductName" placeholder="Product Name"> </ion-input>
        </ion-item>
        <br/>
        <ion-item>
          <ion-icon name="grid" class="iconcolor" slot="start"></ion-icon>
          <ion-select [(ngModel)]="productsObj.category"  placeholder="Category">
            <ion-select-option value="Foods">Foods</ion-select-option>
            <ion-select-option value="Machines">Machines</ion-select-option>
            <ion-select-option value="Books">Books</ion-select-option>
            <ion-select-option value="Another">Onther</ion-select-option>
          </ion-select>
        </ion-item>
        <br/>
        <ion-item>
          <ion-icon name="newspaper" class="iconcolor" slot="start"></ion-icon>
          <ion-textarea [(ngModel)]="productsObj.Description" placeholder="Description">  </ion-textarea>
        </ion-item>
        <br/>
        <ion-item>
          <ion-icon name="pricetag" class="iconcolor" slot="start"></ion-icon>
          <ion-input type="text" [(ngModel)]="productsObj.price" placeholder="Price"> </ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="buttDivStyle">
      <ion-button color="primary" class="CancelbuttStyle" fill="outline" [routerLink]="['/admin-tab/admin-view-product']"> Cancel </ion-button>
      <ion-button color="primary" class="CancelbuttStyle" (click)="addProduct()"> ADD </ion-button>
    </div>
  </div>
</ion-content>
