<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
        <ion-title>Add Product</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="constyle">
    <div class="mainDivStyle" align="center">
        <div class="divimageStyle">
            <img src="../../../assets/icon/AddImage.png" class="imageStyle" (click)="selectProductImage()">
        </div>
        <br />
        <div class="inputDivStyle">
            <ion-list>
                <ion-item>
                    <ion-icon name="pencil" class="iconcolor" slot="start"></ion-icon>

                    <ion-input type="text" color="primary" [(ngModel)]="productsObj.productName"
                        placeholder="Product Name">
                    </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="grid" class="iconcolor" slot="start"></ion-icon>
                    <ion-select [(ngModel)]="productsObj.category" class="categorystyle" placeholder="Category">
                        <ion-select-option value="Foods" color="primary">Foods</ion-select-option>
                        <ion-select-option value="Machines" color="primary">Machines</ion-select-option>
                        <ion-select-option value="Books" color="primary">Books</ion-select-option>
                        <ion-select-option value="Another" color="primary">Another</ion-select-option>
                    </ion-select>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="layers" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="number" color="primary" [(ngModel)]="productsObj.qty" placeholder="Quantity">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon name="newspaper" class="iconcolor" slot="start"></ion-icon>
                    <ion-textarea color="primary" [(ngModel)]="productsObj.description" placeholder="Description">
                    </ion-textarea>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="pricetag" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="text" color="primary" [(ngModel)]="productsObj.price" placeholder="Price">
                    </ion-input>
                </ion-item>
            </ion-list>
        </div>
        <ion-button color="primary" class="CancelbuttStyle" (click)="addProduct()"> ADD </ion-button>
    </div>
</ion-content>