.div{

    margin: 15px 10px;
    height: 200px;
    border-radius: 10px;
    
    }
    .imgestyle{
        border-radius: 10px;
    width: 100%;
    height: 85%;
    }

    .statesStyle{
        margin: 15px 10px;
    height: 200px;
    text-align: center;
    }