.iconstyle{
    width: 32px;
    height: 32px;
    vertical-align: middle;
   padding-top: 15px !important;
   padding-left: 5px !important;
   padding-right: 5px !important;
   padding-bottom: 15px !important;
  
}
.textstyle{
    vertical-align: middle;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}