.iconStyle {
    width: 60px;
    height: 60px;
  }
  .cardimgstyle{
    width: 103px;
     height: 103px;
     border-radius: 10px;
    padding: 0px !important;
    text-align: center;
    margin-top: 20%;
    box-shadow: 3px 3px 15px #dbd7d7;
}
.productcarstyle{
     border-radius: 10px;
     box-shadow: 3px 3px 15px #dbd7d7;
     height: 280px;
}
.iconcolor{
    color: #357abe;
    width: 18px;
    height: 18px;
}
.carticon{
    color: #357abe;
    width:33px;
    height: 32px;
}
.desStyle{
    height: 60px;
    margin-bottom: 0px;
   
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}
.deleteiconcolorstyle{
    color: #BDBDBD;
    width: 20px;
    height: 20px;
    font-size: 25px;
    margin-top: 5px !important;
    margin-right: 10px;
    margin-left: 12px !important;
    padding: 0px !important ;
}
.updateiconcolorstyle{
    color: #BDBDBD;
    width: 15px;
    height: 15px;
    font-size: 25px;
    margin-top: 5px !important;
   margin-right: 0px !important;
   padding: 0px !important ;
}
.colstyle{
    margin-left: -120px !important;
    font-size: 16px;
    height: 20px;
}

.divstyle{
    text-align:right;
    font-size: 30px;
    margin-top: 0px;
  
}
.iconstyle{
    color: #ffffff;
    width: 20px;
    height: 20px;
    padding-right: 16px !important;
}
.searchstyle{
    margin-right: 2px !important;
    margin-left: 4px !important;
    padding: 1px;
    width: 85%;
    height: 64px;
    --background:#FAFAFA;
    border-color: #707070;
    --placeholder-color:#357abe;
    --icon-color:#357abe;
}

.micicon{
    color: #357abe;
    width: 24px;
    height: 24px;
padding-right: 50px !important;
    margin-right: 0px !important;
    margin-bottom:7px ;
    margin-top: 7px;
    margin-left: 5px !important;
}
.ordericonstyle{
    color: #BDBDBD;
    width: 10px !important;
    height: 10px !important;
    font-size: 25px;
    margin-top: 20px !important;
  margin-right: 10px !important;
  padding: 0px !important ;
}