<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
    <ion-title>Add Dietitian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="mainDivStyle" align="center" >
  <div  class="divimageStyle">
    <img src="../../../../assets/icon/AddImage.png" class="imageStyle" (click)="selectDietitianImage()">
  </div>
  <br/>
  <div class="inputDivStyle">
  <ion-list>
    <ion-item>
      <ion-icon name="person" class="iconcolor" slot="start"></ion-icon>
      <ion-input color="primary" type="text" [(ngModel)]="dietitianObj.name" placeholder="Dietitian name"> </ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-icon name="call" class="iconcolor" slot="start"></ion-icon>
     <ion-input color="primary" type="Phone" [(ngModel)]="dietitianObj.phone" placeholder="Phone Number"> </ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-icon name="mail" class="iconcolor" slot="start"></ion-icon>
     <ion-input color="primary" type="Email" [(ngModel)]="dietitianObj.email" placeholder="Email"> </ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-icon name="newspaper" class="iconcolor" slot="start"></ion-icon>
     <ion-textarea color="primary" [(ngModel)]="dietitianObj.descripion" placeholder="Descrption"> </ion-textarea>
    </ion-item>
    </ion-list>
  </div>
    <br/>
    <br/>
    <div class="buttDivStyle">
    <ion-button color="primary"  class="CancelbuttStyle" fill="outline" [routerLink]="['/admin-tab/admin-view-dietitian']"> Cancel </ion-button>
    <ion-button color="primary"  class="CancelbuttStyle" (click)="addDietitian()"> ADD </ion-button>
  </div>
</div>
</ion-content>
