<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
        <ion-title>Update Event</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mainSivStyle" align="center" *ngFor="let i of eventArray">
    <div class="centerdiv">
        <div class="inputDivStyle">
            <ion-list>
                <ion-item>
                    <ion-icon name="pencil" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="text" [(ngModel)]="i.title"  maxlength="20" placeholder="Title"> </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="calendar" class="iconcolor" slot="start"></ion-icon>
                    <ion-datetime displayFormat="D MMM YYYY " min="2021" max="2050" value="D MMM YYYY"
                        placeholder="Select Date" [(ngModel)]="i.date" class="datatimestyle" [min]="minDate">
                    </ion-datetime>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="time" class="iconcolor" slot="start"></ion-icon>
                    <ion-datetime displayFormat=" H:mm A" value="H:mm A" placeholder="Select Time" [(ngModel)]="i.timer"
                        class="datatimestyle">
                    </ion-datetime>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="location" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="text" [(ngModel)]="i.place" placeholder="Place"> </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="pricetag" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="number [(ngModel)]="i.price" placeholder="Price"> </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="people" class="iconcolor" slot="start"></ion-icon>
                    <ion-input type="number" [(ngModel)]="i.people" placeholder="NO of people Allow"> </ion-input>
                </ion-item>
            </ion-list>
        </div>
        <div class="buttDivStyle">
            <ion-button color="primary" class="CancelbuttStyle" (click)="updateEvent(i)"> UPDATE</ion-button>
        </div>
    </div>
    </div>
</ion-content>