.mainSivStyle{
    box-shadow: 3px 5px 15px #dbd7d7;
    height: 95% ;
    width: 95%;
    margin: 10px !important;
    border-radius: 10px;
    padding-top: 25px;
   
   
}
.backiconstyle{
    color:white;
}
.inputDivStyle{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
     margin-bottom: 0px;
    
}
.centerdiv{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
   
    height: 85%;
    width: 85%;
}

.CancelbuttStyle{
    width: 140px;
    border-radius: 10px;
    margin-left: 10px;
    
}
.buttDivStyle{
    margin-left: 0px;
    margin-right: 9px;
}
  .iconcolor{
    color: #357abe;
    width: 25px;
    height: 25px;
}
.datatimestyle{
    padding-left:0px !important ;
}