.maindivStyle{
    
    text-align: center;
    padding-right: 23px !important;
    padding-left: 6px !important;
}
.gridstyle{
    padding: 0px !important;
   
}
.cardstyle{
    height: 164px;
    width: 149px;
    border-radius: 10px;
    padding: 0px !important;
   
}
.imgestyle{
    height: 134px;
    width: 100%;
    margin: 0px !important;
    border-radius: 10px;
}
.cardcontentstyle{
    color:  #FFFF;
    padding: 0px !important;
}
.EventNameStyle{
    background-color: #357abe;
    height: 30px;
    width: 100%;
    text-align: center;
    margin: 0px !important;
   
}
.iconstyle{
    color: #ffffff;
    width: 20px;
    height: 20px;
    padding-right: 16px !important;
}

.searchstyle{
    margin-right: 2px !important;
    margin-left: 4px !important;
    padding: 1px;
    width: 350px;
    height: 64px;
    --background:#FAFAFA;
    border-color: #707070;
    --placeholder-color:#357abe;
    --icon-color:#357abe;
}
// .recordbutton{
//     --background:rgba(255, 0, 0, 0.021);
//     width: 50px;
//     height: 50px; 
//     padding:7px;
//     margin-right: 0px !important;
//     margin-bottom:10px ;
//     margin-top: 7px;
//     margin-left: 5px !important;
// }

.micicon{
    color: #357abe;
    width: 24px;
    height: 24px;
    padding:7px;
    margin-right: 0px !important;
    margin-bottom:10px ;
    margin-top: 7px;
    margin-left: 5px !important;
}