.maindivStyle{
    
    text-align: center;
    padding-right: 23px !important;
    padding-left: 6px !important;
}
.gridstyle{
    padding: 0px !important;
   
}
.cardstyle{
    height: 164px;
    width: 149px;
    border-radius: 10px;
    padding: 0px !important;
   
}
.imgestyle{
    height: 134px;
    width: 100%;
    margin: 0px !important;
    border-radius: 10px;
}
.cardcontentstyle{
    color:  #FFFF;
    padding: 0px !important;
}
.EventNameStyle{
    background-color: #357abe;
    height: 30px;
    width: 100%;
    text-align: center;
    margin: 0px !important;
   
}
