.backgroundImage{
    height: 100% ;
}
.divImage{
    height: 100% ;
    position: relative;
}
.maindivStyle{
    position: absolute;
    height: 200px;
    width: 80%;
    margin-top: 247px;
    margin-right: 20px;
    margin-left: 35px;
    left: 0;
    right:0 ;
        top: 0;
       bottom: 0;
}
    