.backiconstyle{
    color:white;
}
.constyle{
    --background:none;
    background-color: rgb(241, 237, 237);
}
.mainDivStyle{
    box-shadow: 3px 5px 15px #dbd7d7;
    height: 500px ;
    width: 340px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    margin: auto;
    border-radius: 10px;
    padding-top: 25px;  
}
.adviceimg{
    width: 130px;
    height: 130px;
    padding:3px ;
}
.divimgparent div{
    display:inline-block;
    vertical-align: middle;
}
.adviceimg1{
    margin-right: 10px !important;
    width: 130px;
    height: 130px;
    padding:3px ;
}
.inputDivStyle{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.CancelbuttStyle{
    width: 65%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}
.iconcolor{
    color: #357abe;
    width: 25px;
    height: 25px;
}