<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="backiconstyle" slot="start"> </ion-back-button>
        <ion-title>Add Advice</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="constyle">
    <div class="mainDivStyle" align="center">

        <!-- <img *ngIf="imagesarray.length<2" src="../../../assets/icon/AddImage.png" class="adviceimg"
            (click)="selectAdviceImage()" /> -->

        <div class="divimgparent">
            <div *ngIf="imagesarray.length<2">
                <img  src="../../../assets/icon/AddImage.png" class="adviceimg"
                    (click)="selectAdviceImage()" />
            </div>

            <div *ngIf="imagesarray.length>0">
                <img *ngFor="let i of imagesarray" [src]="i" class="adviceimg" />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="inputDivStyle">
            <ion-list>
                <ion-item>
                    <ion-icon name="pencil" class="iconcolor" slot="start"></ion-icon>
                    <ion-input color="primary" type="text" maxlength="20" [(ngModel)]="adviceObj.name"
                        placeholder="Title">
                    </ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="newspaper" class="iconcolor" slot="start"></ion-icon>
                    <ion-textarea color="primary" [(ngModel)]="adviceObj.descripion" placeholder="Description">
                    </ion-textarea>
                </ion-item>
            </ion-list>
        </div>
        <ion-button color="primary" class="CancelbuttStyle" (click)="addAdvice()"> ADD </ion-button>
    </div>
</ion-content>