.scrollx{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}
.cardStyle{
    width:100px;
    display: inline-block;
    margin-right: 1px !important;
    text-align: center;  
}

.iconStyle {
    width: 60px;
    height: 60px;
  }

  .cardStyleNotSelcted{
    background-color: #EFEEEE !important;
    border:0px !important;
  }


  .cardStyleselected{
      background-color: white !important;
      border: 1px solid blue !important;
  }
  .cardstyle{
    height: 125px;
    width: 110px;
    border-radius: 10px;
    padding: 0px !important;
    margin: 0px !important;
   
}

  .maindivStyle{
    
    text-align: center;
  }

.imgestyle{
    height: 80%;
    width: 100%;
    margin: 0px !important;
    border-radius: 10px;
}

.gridstyle{
    padding: 0px !important;
    
  
}


.cardcontentstyle{
    color:  #FFFF;
    padding: 0px !important;
}

.productNameStyle{
    background-color: #357abe;
    height: 30px;
    width: 100%;
    text-align: center;
    margin: 0px !important;
   
}
.iconstyle{
    color: #ffffff;
    width: 20px;
    height: 20px;
    padding-right: 16px !important;
}


.searchstyle{
    margin-right: 2px !important;
    margin-left: 4px !important;
    padding: 1px;
    width: 350px;
    height: 64px;
    --background:#FAFAFA;
    border-color: #707070;
    --placeholder-color:#357abe;
    --icon-color:#357abe;
}

.micicon{
    color: #357abe;
    width: 24px;
    height: 24px;
    padding:7px;
    margin-right: 0px !important;
    margin-bottom:10px ;
    margin-top: 7px;
    margin-left: 5px !important;
}