<ion-header>
  <ion-toolbar color="primary">
    <ion-title>shop</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar>

    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar >
    <div class="scrollx">
     
      <ion-card  *ngFor="let i of catogryArray" class="cardStyle" (click)="filterProductData(i.value)">
        <ion-card-content>
          <img [src]="i.img" class="iconStyle"/>
          <ion-label class="ion-text-wrap" >{{i.name}}</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>
  
  <div align="center" class="maindivStyle" >
    <ion-grid class="gridstyle" >
      <ion-row>
       
        <ion-col size="4" *ngFor="let i of tempArray">
         
          <ion-card class="cardstyle" >
            <div align="center" class="imgestyle">
             
              <img [src]="i.img" (click)="customerproductdetails(i)" />
            </div>
            <ion-card-content class="cardcontentstyle">
       
              <ion-button color="primary" class="productNameStyle"  (click)="customerproductdetails(i)" > 
                {{i.ProductName}}
                 </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<footer>
  <ion-button color="light" class="buttStyle" Expand="block" > View basket </ion-button>
</footer>