.iconcolor{
    color: #357abe;
    width: 23px;
    height: 23px;
}
.colstyle{
    font-size: 15px;  
}
.iconcolor1{
    color:grey;
    width: 18px;
    height: 18px;
}
.productdiv{
    height: 50px ;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}
.iconreceived{
    color: #357abe;
    width: 25px;
    height: 25px; 
}
.iconInProgress{
    color: #357abe;
    width: 25px;
    height: 25px; 
}
.iconIntheway{
    color: #357abe;
    width: 25px;
    height: 25px;
}
.iconarrive{
    color: #357abe;
    width: 25px;
    height: 25px; 
}