<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button slot="start"> </ion-back-button>
        <ion-title>View Order</ion-title>
    </ion-toolbar>
    <ion-toolbar lines="none">
        <ion-searchbar class="searchstyle" [(ngModel)]="searchtxt" (ngModelChange)="startSearch()">
        </ion-searchbar>
        <ion-fab vertical="Top" horizontal="end" slot="start">
            <ion-icon [name]="isRecording?'mic':'mic-off'" class="micicon" (click)="startStopListening()">
            </ion-icon>
        </ion-fab>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let orders of vieworderdArray">
            <ion-card class="ordercardstyle">
                <ion-row>
                    <ion-col>
                        <ion-card-content>
                            <ion-row>
                                <ion-col size="2">
                                    <ion-icon name="person" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colstyle">
                                    {{orders.userName }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="2">
                                    <ion-icon name="mail" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colstyle">
                                    {{orders.userEmail }}
                                </ion-col>
                            </ion-row>
                            <ion-row *ngFor="let loc of AddrArray">
                                <div  *ngIf="orders.userId==loc.userId" >
                                <ion-col size="2">
                                    <ion-icon name="call" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colcallstyle">
                                    {{loc.PhoneNumber }}
                                </ion-col>
                            </div>
                            </ion-row>
                            <ion-row>
                                <ion-col size="2">
                                    <ion-icon name="reload-circle" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colstyle">
                                    {{orders.States }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="2">
                                    <ion-icon name="cart" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colstyle">
                                    <div class="productdiv">
                                        <div *ngFor="let productList of orders.order ">
                                            <ion-row>
                                                <ion-col class="colstyle" size="8">
                                                    <p>{{productList.ProductName }}</p>
                                                </ion-col>
                                                <ion-col size="1">
                                                    <ion-icon name="layers" class="iconcolor1"></ion-icon>
                                                </ion-col>
                                                <ion-col size="3" class="colstyle">
                                                    <p>{{productList.qty}}</p>
                                                </ion-col>
                                            </ion-row>
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="2">
                                    <ion-icon name="card" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colstyle">
                                    {{orders.Total}} OMR
                                </ion-col>
                            </ion-row>
                            <!-- address -->
                            <ion-row>
                                <ion-col size="2">
                                    <ion-icon name="location" class="iconcolor"></ion-icon>
                                </ion-col>
                                <ion-col size="10" class="colstyle">
                                    <div class="locdiv" *ngFor="let loc of AddrArray">
                                        <div *ngIf="orders.userId==loc.userId">
                                            <ion-row>
                                                <ion-col size="1">
                                                    <ion-icon name="location"class="iconcolor1"></ion-icon>
                                                </ion-col>
                                                <ion-col class="colstyle" size="8">
                                                    <p>{{loc.Area }}</p>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size="1">
                                                    <ion-icon name="subway" class="iconcolor1"></ion-icon>
                                                </ion-col>
                                                <ion-col size="3" class="colstyle">
                                                    <p>{{loc.Street}}</p>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size="1">
                                                    <ion-icon name="compass" class="iconcolor1"></ion-icon>
                                                </ion-col>
                                                <ion-col size="3" class="colstyle">
                                                    <p>{{loc.latitude}}</p>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size="1">
                                                    <ion-icon name="compass" class="iconcolor1"></ion-icon>
                                                </ion-col>
                                                <ion-col size="3" class="colstyle">
                                                    <p>{{loc.longitude}}</p>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size="1">
                                                    <ion-icon name="home" class="iconcolor1"></ion-icon>
                                                </ion-col>
                                                <ion-col size="3" class="colstyle">
                                                    <p>{{loc.HomeNumber}}</p>
                                                </ion-col>
                                            </ion-row>
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="statusicon">
                                <ion-col size="3">
                                    <ion-icon name="thumbs-up" class="iconreceived"
                                        (click)="updateStatus(orders.orderkey ,'Recived')"></ion-icon>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-icon name="build" class="iconInProgress"
                                        (click)="updateStatus(orders.orderkey ,'In Progress')"></ion-icon>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-icon name="car" class="iconIntheway"
                                        (click)="updateStatus(orders.orderkey ,'On the Way')"></ion-icon>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-icon name="checkmark-done-circle" class="iconarrive"
                                        (click)="updateStatus(orders.orderkey ,'Arrive')">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-item-sliding>
    </ion-list>
</ion-content>