.backiconstyle{
    color:white;
}
.map { 
    height: 100%;
}
.buttStyle{
    width:160px ;
    height:42px ;
    position: absolute;
    margin: auto;
    bottom: 0;
     left: 0;
   right: 0;
  margin-bottom: 31px !important;  
}

