<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="ellipsis-vertical" class="iconstyle" slot="end" (click)="CreatePopOver($event)"></ion-icon>
        <ion-title>Advice</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar class="searchstyle" [(ngModel)]="searchtxt" (ngModelChange)="startSearch()">
        </ion-searchbar>
         <ion-fab vertical="Top" horizontal="end" slot="start">
                <ion-icon [name]="isRecording?'mic':'mic-off'" class="micicon" (click)="startStopListening()">
                </ion-icon>
        </ion-fab> 
        </ion-toolbar>
</ion-header>

<ion-content>
    <div class="maindivStyle" *ngFor="let i of tempArray">

        <ion-slides pager="true" class="slidesStyle">
            <ion-slide>
                <img [src]=i.img1 class="imgestyle" />
            </ion-slide>
            <ion-slide>
                <img [src]=i.img2 class="imgestyle" />
            </ion-slide>
        </ion-slides>
        <div>
            <ion-list lines="none" class="datastyle">
                <ion-item>
                       
                    <ion-text color="primary" class="advicename"> {{i.name}} </ion-text>
                </ion-item>
                <ion-item>
                    <div class="desdivStyle">
                        <p class="ion-text-wrap">
                            {{i.descripion}}
                        </p>
                    </div>
                </ion-item>
            </ion-list>
        </div>

    </div>



</ion-content>