<!-- <ion-header>
  <ion-toolbar>
    <ion-title>CustomerPopover</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
     
    <ion-label (click)="Profile()" class="lblstyle">
        <ion-icon name="person" slot="start" color="primary" class="iconstyle"></ion-icon>
      <ion-text class="textstyle">Profile </ion-text> 
   </ion-label>
<br/>
    <ion-label (click)="Logout()" class="lblstyle">
        <ion-icon slot="start" name="log-out" color="primary" class="iconstyle"></ion-icon>
      <ion-text class="textstyle">LogOut </ion-text> 
   </ion-label>

</ion-content>
