<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dietitian Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divImagStyle" *ngFor="let i of tempArray">
    <img class="imageStyle" [src]=i.img />
  </div>
  <ion-card *ngFor="let i of tempArray" class="detailsStyle">
    <ion-card-content>
      <ion-text color="primary">
        <ion-label class="nameStyle">
          {{i.name}}
        </ion-label>

        <!-- <ionic4-star-rating #rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#488aff" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="3"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)">
    </ionic4-star-rating> -->

      </ion-text>

      <ion-list class="paddingitem">
        <ion-item-sliding>

          <ion-row>
            <ion-col class="paddingitem">
              <ion-card-content class="cardStyle">
                <ion-row>
                  <ion-col size="1.5">
                    <ion-icon name="call" class="iconcolor"></ion-icon>
                  </ion-col>
                  <ion-col size="10.5">
                    <p>{{i.phone}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1.5">
                    <ion-icon name="mail" class="iconcolor"></ion-icon>
                  </ion-col>
                  <ion-col size="10.5">
                    <p>{{i.email}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1.5">
                    <ion-icon name="newspaper" class="iconcolor"></ion-icon>
                  </ion-col>
                  <ion-col size="10.5">
                    <p>{{i.descripion}}</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-col>
          </ion-row>

        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
