

<ion-content>
  <ion-tabs >
    
    <ion-tab-bar slot="bottom" color="tertiary" class="tabBarStyle" >

      <ion-tab-button tab="advice" class="tabIconStyle" >
        <ion-icon name="images"  ></ion-icon>
        <ion-label>Advice</ion-label>
      </ion-tab-button>

      
        <ion-tab-button tab="dietitian-list" class="tabIconStyle">
          <ion-icon name="people" ></ion-icon>
          <ion-label>Dietitian</ion-label>
        </ion-tab-button>

      <ion-tab-button tab="event-list" class="tabIconStyle">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Event</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="shop" class="tabIconStyle">
        <ion-icon name="cart" ></ion-icon>
        <ion-label>Shop</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>