<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center">
  <img src="../../../assets/icon/background.png">

  <div class="logindivstyle" align="center">
    <ion-list>
      <ion-item>
        <ion-label class="lblcolor" position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="data.email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="lblcolor" position="floating">Password</ion-label>
        <ion-input type="Password" [(ngModel)]="data.password"> </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-text color="primary" slot="end" class="forgotPassStyle" (click)="ForgetPassword()"> Forgot Password?
        </ion-text>
      </ion-item>
    </ion-list>
  </div>

  <ion-button color="primary" class="buttStyle" (click)="loginWithFBdetails()"> LOGIN </ion-button>

  <div>
    <ion-text color="primary" class="singUpStyle" [routerLink]="['/register']"> You don't have account? <b>singUp</b>
    </ion-text>
  </div>

</ion-content>