.cardimgstyle{
    width: 103px;
     height: 100px;
     border-radius: 10px;
    padding: 0px !important;
    text-align: center;
    margin-top: 20%;
    box-shadow: 3px 3px 15px #dbd7d7;
}
.divimgstyle{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0px !important;
    margin: 3px !important;
    text-align: center;
}
.peoplecarstyle{
     border-radius: 10px;
     box-shadow: 3px 3px 15px #dbd7d7;
     height: 160px;
     width: 340px;   
}
.iconcolor{
    color: #357abe;
    width: 18px;
    height: 18px;
}
.colstyle{
    margin-left: -120px !important;
    font-size: 16px;
    height: 20px;
}
.divstyle{
    text-align:right;
    font-size: 30px;
    margin-top: -20px !important;
}
.sendiconcolorstyle{
    color: #BDBDBD;
}
